*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    height: 90px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 1000;
    background-color: #fff;
}
.logo{
    width: 80px;
}
.tools{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.searchBox{
    display: flex;
    flex-direction: row;
    border: solid 1px #0000006a;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    gap: 10px;
}
.searchBox i{
    opacity: 0.5;
}
#champRecherche{
    border: none;
    outline: none;
    font-size: 15px;
}
#iconeNotification{
    font-size: 25px;
    cursor: pointer;
    color: rgb(16, 108, 99);
}
.count{
    display: flex;
    gap: 15px;
    align-items: center;
}
.count i{
    font-size: 25px;
    cursor: pointer;
    color: rgb(16, 108, 99);
}
.count span {
    font-size: 18px;
    color: rgb(16, 108, 99);
}

/* navbar */
.navbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: start;
    padding: 150px 10px;
}
.navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 100%;
}
li {
    list-style: none;
    width: 100%;
}
.navbar a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
    transition: 0.5s ease;
}
.navbar a:hover{
    background-color: turquoise;
    color: white;
}
.navbar a:focus{
    background-color: turquoise;
    color: white;
}