*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}

/* header */
header{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    background-color: turquoise;
    position: fixed;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 15px 40px;
}

/* boutton pour un slide bar */
#btnMenu{
    background-color: turquoise;
    border: none;
    cursor: pointer;
    font-size: 30px;
    transition: 0.5s ease;
    color: white;
}
#btnMenu:hover{
    transform: scale(1.2);
}

/* titre et logo de la page */
.Titre{
    position: absolute;
    left: 120px;
    color: white;
    font-size: 12px;
}

/* menu de navgigation */
.navbar{
    position: absolute;
    bottom: 10px;
    left: 120px;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.navbar a{
    font-size: 17px;
    color: white;
    transition: 0.5s ease;
}
.navbar a:hover{
    color: rgb(6, 59, 54);
}
.navbar a:focus{
    color: rgb(6, 59, 54);
}

/* boutton ajouter un service et en rechercher */
.option{
    position: absolute;
    left: 900px;
    top: 30px;
}
.option button{
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
    background-color: rgb(6, 59, 54);
    color: white;
    cursor:pointer;
    transition: 0.5s;
}
.option button:hover{
    background-color: rgb(7, 107, 97);
}
.option input {
    padding: 7px 15px;
    border-radius: 10px;
}

/* profil de l'admin */
.profil{
    position: absolute;
    left: 1350px;
    top: 25px;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.profil img {
    height:50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(6, 59, 54);
    border: none;
}
/* header */